.example-input {
  position: absolute;
  max-width: 100%;
  height: 50px;
  width: 350px;
  border: 1px solid #E5E6ED;
  border-radius: 20px;
  text-align-last: auto;
  text-indent: 15px;
  font-size: 15px;
  margin-inline-start: 420px;
  background-color: #DEF3F4 !important;
  margin-block-start: 10px;
  
}

.example-input::placeholder {
   color: black;
}

.iconomat{
  color: #17bebb;     
  transform: translateY(25%) translateX(3000%);
  position: absolute;
}

  .spacer {
    flex: 1 1 auto;
  }

  .copiasInferior{
    display: flex;

  }
