<breadcrumb></breadcrumb>
<app-card-etr></app-card-etr>
<div class= "row">
    <!-- Statistics -->
    <!-- <div class="col-sm-6 col-md-3" *ngFor="let stat of stats">
        <mat-card [ngClass]="['text-white', stat.color]">
            <div class="row">
              <div class="col-3 d-flex align-items-center justify-content-center">
                <mat-icon style="font-size: 30px;">{{stat.icon}}</mat-icon>
              </div>
              <div class="col-9">
                <mat-card-header>
                    <mat-card-subtitle class="text-white">{{stat.title}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h2 class="m-y-8">{{stat.amount}}</h2>
                </mat-card-content>
              </div>
            </div>
        </mat-card> -->

        <!--mat-card [ngClass]="['text-white', stat.color]">
            <mat-card-header>
                <mat-card-subtitle class="text-white">{{stat.title}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2 class="m-y-8">{{stat.amount}}</h2>
            </mat-card-content>
        </mat-card-->
    <!-- </div> -->
</div>
<div fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row"
     fxLayout="row" fxLayoutGap="0.6%">
    <div fxFlex="98%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-tab-group mat-stretch-tabs="false">
            <mat-tab >
                <ng-template mat-tab-label >
                    <mat-icon class="example-tab-icon">report_problem</mat-icon>
                    Por recibir
                </ng-template>
                <br>
                <app-tramites-entrantes ></app-tramites-entrantes>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">check_circle</mat-icon>
                    Recibidos
                </ng-template>
                <br>
                <app-tramites-recibidos></app-tramites-recibidos>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label >
                    <mat-icon class="example-tab-icon">subdirectory_arrow_left</mat-icon>
                    <!-- autorenew -->
                    Revertidos
                </ng-template>
                <br>
                <app-tramites-revertidos></app-tramites-revertidos>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">file_copy</mat-icon>
                    <!-- add_task -->
                    Creados
                </ng-template>
                <br>
                <app-tramites-creados></app-tramites-creados>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">send</mat-icon>
                    Enviados
                </ng-template>
                <br>
                <app-tramites-enviados></app-tramites-enviados>
            </mat-tab>
            
            <mat-tab disabled class="nuevo">
                <ng-template mat-tab-label class="nuevo">
                    <input matInput type="text"
                    placeholder="Buscar trámites"
                    [(ngModel)]="inputValue"
                    autocomplete="off"
                    class="example-input"
                    (keyup)="applyFilter($event)"
                    >

                    <mat-icon class="iconomat" *ngIf="!inputValue">search</mat-icon>
                    <button class="iconomat" *ngIf="inputValue" mat-icon-button (click)="limpiar()">
                        <mat-icon *ngIf="inputValue" >close</mat-icon>

                    </button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        
    </div>
</div>