.mat-icon{
    color: rgb(0, 0, 0);
}

.example-input {
    max-width: 100%;
    height: 50px;
    width: 450px;
    border: 1px solid #E5E6ED;
    border-radius: 20px;
    text-align-last: auto;
    text-indent: 15px;
    font-size: 15px;
    background-color: #DEF3F4 !important;
    
  }
  
  .example-input::placeholder {
     color: black;
  }
  
  .iconomat{
    color: #17bebb; 
    position: absolute;
    left: 26rem;
  }