<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend&family=Roboto:wght@300;400&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">

<mat-toolbar style="background:#ffffff; height: 40px;">
    <span class="primary-600 "><h5>Enviar trámite</h5></span>
</mat-toolbar>

<div  style="margin: 22px;">
    <mat-form-field class="inputAncho" style="height: 90px;">
        <span matPrefix>&nbsp; De:&nbsp;</span>   
            <mat-chip-grid #chipGrid >

                <mat-chip-row *ngFor="let de of de"
                              (removed)="remove(de)"
                              [editable]="true" [aria-description]="'press enter to edit ' + de.name"
                              style="background-color: rgb(245, 245, 245);border: 1px solid black;">
                              <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>
                    <!-- <mat-icon style="width: 22px; height: 24px;margin-top: 5px; color: #757FEF; margin-inline-end: 15px;">account_circle</mat-icon> -->
                             {{de.name}} / <span style="color:#17bebb">{{de.dep}} / {{de.car}}</span>
                    <button matChipRemove [attr.aria-label]="'remove ' + de.name">
                        <mat-icon style="color:#17bebb;">close</mat-icon>
                    </button>
                </mat-chip-row>
    
                <input [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
        
    </mat-form-field> 

     <mat-form-field style="width: 845px; height: 90px; margin-bottom: -12px; ">
        <span matPrefix>&nbsp;Para:&nbsp;</span>
            <mat-chip-grid  #chipGridB >
                <mat-chip-row *ngFor="let fruit of fruitslk"
                              (removed)="remove2(fruit)"
                           
                              style="background-color: rgb(245, 245, 245);border: 1px solid black;">
                               <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>  
                   <!-- <mat-icon style="width: 22px; height: 24px;margin-top: 5px; color: #757FEF; margin-inline-end: 15px;">account_circle</mat-icon>  -->
                               {{fruit.name}} / <span style="color:#17bebb">/ </span>
                    <button matChipRemove  >
                        <mat-icon style="color:#17bebb;">close</mat-icon>
                    </button>
                </mat-chip-row>   
                <input [matChipInputFor]="chipGridB" (matChipInputTokenEnd)="add2($event)" />
            </mat-chip-grid>       
    </mat-form-field> 
    
    <button mat-raised-button  class="b4" (click)="buscarPersona()">Buscar Persona</button>
    <button mat-raised-button *ngIf="isButtonClicked === false"  class="b4" (click)="buttonClicked()">Crear Copia</button>
    <button mat-raised-button *ngIf="isButtonClicked === true"  class="b4" (click)="copias() ">Crear Copia</button>

    <div  [hidden]="!isInputVisible" style="overflow: auto; height: 150px;">
        <mat-form-field class="inputAncho" >
            <span matPrefix>&nbsp;Copia:&nbsp;</span>
            <mat-chip-grid  #chipGridC aria-label="Fruit selection">
                 <mat-chip-row *ngFor="let fruit of fruits" 
                 (removed)="remove3(fruit)" style="background-color: rgb(245, 245, 245);border: 1px solid black;">
                    <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>  
                    {{fruit.name}} / <span style="color:#17bebb" >{{fruit.cargo}} / {{fruit.direccion}}</span>
                  <button (click)="limpiarCopias(fruit)" matChipRemove [attr.aria-label]="'remove ' + fruit">
                    <mat-icon style="color:#17bebb;">close</mat-icon>
                  </button>
                </mat-chip-row>  
              </mat-chip-grid>
              <input placeholder="Seleccione personas" #fruitInput [formControl]="fruitCtrl"
                [matChipInputFor]="chipGridC" [matAutocomplete]="auto"
                (matChipInputTokenEnd)="add3($event)" style="height: 100px;" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"  [displayWith]="displayFn">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit.name">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>  
                        {{fruit}}
                      </mat-option>
              </mat-autocomplete>

        </mat-form-field>
    </div>
    <mat-form-field class="inputAncho" >
        <span matPrefix>&nbsp; Asunto:&nbsp;</span>
        <input matInput [(ngModel)]="asunto">
    </mat-form-field>
    

    <div class="principal">

        <div class="izquierda">
            <mat-form-field class="margen">
                <mat-label>Tipo de trámite:</mat-label>
                <mat-select>
                    <mat-option value="one">Regularizacion de construcciones fuera de
                        norma</mat-option>
                        <mat-option value="two">Verificacion de trazo</mat-option>
                        <mat-option value="three">As Built</mat-option>
                        <mat-option value="four">Regularización de trazo</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="inputAncho1">
                <mat-label>Proveído:</mat-label>
                <textarea matInput matInput style="resize: vertical; min-height: 150px;"></textarea>
            </mat-form-field>

        </div>

        <div class="derecha">

            <div class="superior">

                <mat-form-field class="margen1">
                    <mat-label>Número de forjas:</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-card class="cardAncho">
                    <mat-card-content>
                        Adjuntar archivo:...
                    </mat-card-content>
                </mat-card>

                <button mat-raised-button color="primary" class="dias">Cargar</button>
            </div>

            <div >

                <mat-form-field class="inputAncho1">
                    <mat-label>Descripcion de fojas:</mat-label>
                    <textarea matInput style="resize: vertical; min-height: 150px; "></textarea>
                </mat-form-field>

            </div>

        </div>

    </div>

    <div class="dos">
        <mat-form-field style="width: 109px;">
            <span matPrefix>&nbsp;N°copias: &nbsp;</span>
            <input matInput >
        </mat-form-field>
        <mat-form-field class="aten">
            <mat-label>N° dias de atención:</mat-label>
            <mat-select >
                <mat-option value="one">1</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox class="example-section"  >Urgente</mat-checkbox>
    </div>
    <div class="button">
        <button  (click)="agregar()" mat-raised-button class="b1 btn-primary-600">Enviar Trámite</button>
        <button mat-raised-button mat-dialog-close class="b2" (click)="cargarDato()">Guardar como borrador</button>
        <button mat-raised-button *ngIf="false" (click)="openFusionar()"  class="b6" >Fusionar</button>
        <button mat-raised-button *ngIf="false" (click)="openFusionar()"  class="b6" >Desfucionar</button>
        <button mat-raised-button class="b3"  mat-dialog-close>Cancelar</button>
    </div>
</div>