.example-input {
    position: absolute;
    max-width: 100%;
    height: 50px;
    width: 450px;
    border: 1px solid #E5E6ED;
    border-radius: 20px;
    text-align-last: auto;
    text-indent: 15px;
    font-size: 15px;
    margin-inline-start: 360px;
    background-color: #DEF3F4 !important;
    margin-block-start: 10px;
    
  }
  
  .example-input::placeholder {
     color: black;
  }
  
  .iconomat{
    color: #17bebb;     
    transform: translateY(25%) translateX(3200%);
    position: absolute;
  }

.container{
    width: 850px;
    height: 615px;
}

.option{
    background: #F869BF;
}

.superior{
    padding: 24px 24px 0px 24px;
}

.boton{
    margin-right: 24px !important;
    padding: 12px 16px !important;
    margin-inline-start: 434px; 
    margin-bottom: 8px; 
    background: #00938b;
    color: white
}

.boton2{
    padding: 12px 16px !important;
    margin-bottom: 8px; 
    background: #00938b; 
    color: white;
}

.copiasContenido{
    overflow: auto;
    height: 295px;
    padding: 12px;
}

