@use '../style/variables';
@use '../style/breakpoints';

.matero-sidebar-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: variables.$toolbar-height-desktop;
  padding-left: 30%;
  overflow: hidden;
  color: #6E49AB;

  @include breakpoints.bp-lt(small) {
    & {
      height: variables.$toolbar-height-mobile;
    }
  }

  // Colorful
  .matero-header-white & {
    background-color: white;
  }
}

.matero-sidebar-main {
  height: calc(100% - #{variables.$toolbar-height-desktop});
  overflow: auto;

  @include breakpoints.bp-lt(small) {
    & {
      height: calc(100% - #{variables.$toolbar-height-mobile});
    }
  }
}
