:host
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 1158;
  justify-content: space-between;
}
.inputAncho
{
  width: 100%;
  margin: 5px;
}
.inputAncho1
{
  width: 100%;
  margin: 5px;
  height: 200px;
}
.cardAncho{
  max-width: 500px;
  margin: 5px;
}
.flex-container{
  display: flex;
  width: 100%;
}
.example-section {
  align-content: center;
  align-items: center;
  height: 60px;
}
.dos{
  display: flex;
  width: 100;
  margin: 5px;
}
.b1{
  margin: 5px;
  background-color: #757fef;
}
.b2{
  background-color: #6e49ab;
}
.b3
{
  float: right;
  background-color: #757fef;
}

.dias{
    margin: 5px;
    background-color: #757fef;
}
.margen{
    margin: 5px;
    width: 300px;
    display: flex;

}

