
<h1 >Trámite nuevo</h1>
<div>
  <form action="">
    <mat-form-field class="inputAncho">
      <span matPrefix>&nbsp; De:&nbsp;</span>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="inputAncho">
      <span matPrefix>&nbsp; Para:&nbsp;</span>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="inputAncho">
      <span matPrefix>&nbsp; Asunto:&nbsp;</span>
      <input matInput>
    </mat-form-field>

    <div class="principal">

      <div class="izquierda">
        <mat-form-field class="margen">
          <mat-label>Tipo de trámite:</mat-label>
          <mat-select>
            <mat-option value="one">Regularizacion de construcciones fuera de norma</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="inputAncho1">
          <mat-label>Proveído:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

      </div>

      <div class="derecha">

        <div class="superior">

          <mat-form-field class="margen">
            <mat-label>Número de forjas:</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card class="cardAncho">
            <mat-card-content>
              Adjuntar archivo:...
            </mat-card-content>
          </mat-card>

          <button style="margin-top: 3%;" mat-raised-button color="primary" class="dias">Cargar</button>

        </div>

        <div class="inferior">

          <mat-form-field class="inputAncho1">
            <mat-label>Descripcion de fojas:</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

        </div>

      </div>

    </div>



    <!-- <div class="flex-container">




    </div>
  <div class="flex-container">


  </div> -->
  <div class="dos">
      <mat-form-field style="width: 20%;">
        <span matPrefix>&nbsp;N°copias: &nbsp;</span>
        <input matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 3%;">
      <mat-label >N° dias de atención:</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-checkbox class="example-section">Urgente</mat-checkbox>
  </div>
    <div class="button">
      <button mat-raised-button color="primary" class="b1">Guardar cambios</button>
      <button mat-raised-button color="primary" class="b2">Fusionar</button>
      <button mat-raised-button color="primary" class="b1" (click)="openBuscarPersona()">Crear copias</button>
      <button mat-raised-button color="primary" class="b3" mat-dialog-close>Cancelar</button>
    </div>
  </form>
</div>


