@use '@angular/material' as mat;
@use '../style/variables';
@use '../style/transitions';
@use '../style/breakpoints';

.matero-container-wrap,
.matero-container {
  height: 100%;
}

.matero-content {
  position: relative;
  padding: variables.$gutter;
}

.matero-sidenav {
  position: absolute;
  overflow-x: hidden;
  transition: transitions.swift-ease-out(width); // Only set width property

  @include mat.elevation(2);

  &.mat-drawer-side {
    border-width: 0;
    color: #6E49AB;

    [dir='rtl'] & {
      border-width: 0;
    }
  }
}

// Layout control
.matero-header-above {
  .matero-container {
    height: calc(100% - #{variables.$toolbar-height-desktop}) !important;
  }

  .matero-sidebar-main {
    height: 100% !important;
    border-radius: 0px 7px 7px 0px;
  }
}

// Layout control
.matero-sidenav-collapsed,
.matero-sidenav-collapsed-fix {
  .matero-sidenav {
    width: variables.$sidenav-collapsed-width;

    .menu-name,
    .menu-label,
    .menu-badge,
    .menu-caret,
    .matero-user-panel-name,
    .matero-user-panel-email,
    .matero-user-panel-icons {
      opacity: 0;
    }

    .matero-user-panel-avatar {
      transform: scale(.5);
    }

    &:hover {
      width: variables.$sidenav-width;

      .menu-name,
      .menu-label,
      .menu-badge,
      .menu-caret,
      .matero-user-panel-name,
      .matero-user-panel-email,
      .matero-user-panel-icons {
        opacity: 1;
      }

      .matero-user-panel-avatar {
        transform: scale(1);
      }
    }
  }
}

// Layout control
.matero-sidenav-collapsed {
  .matero-content-wrap {
    margin-left: variables.$sidenav-collapsed-width !important;

    [dir='rtl'] & {
      margin-right: variables.$sidenav-collapsed-width !important;
      margin-left: auto !important;
    }
  }

  &[dir='rtl'] .matero-content-wrap {
    margin-right: variables.$sidenav-collapsed-width !important;
    margin-left: auto !important;
  }
}

// Layout control
.matero-navbar-top {
  .matero-topmenu {
    top: 0;
  }

  .matero-branding {
    margin-left: 16px;

    [dir='rtl'] & {
      margin-right: 16px;
      margin-left: auto;
    }
  }
}

// Layout control
.matero-header-fixed {
  .matero-header {
    position: sticky;
    top: 0;
  }

  .matero-topmenu {
    top: variables.$topmenu-sticky-position-desktop;

    @include breakpoints.bp-lt(small) {
      & {
        top: variables.$topmenu-sticky-position-mobile;
      }
    }
  }

  &.matero-navbar-side {
    .matero-toolbar {
      border-bottom: unset;

      @include mat.elevation(2);
    }
  }
}

// Fix the init content width
.matero-content-width-fix {
  .matero-content-wrap {
    margin-left: variables.$sidenav-width !important;

    [dir='rtl'] & {
      margin-right: variables.$sidenav-width !important;
      margin-left: auto !important;
    }
  }
}

// Colorful
.matero-header-white {
  .matero-toolbar,
  .matero-topmenu {
    background-color: white;
  }
}
