.dialog-border {
    border: 551px solid #ccc;
    border-radius: 35px;
  }
  .Urgente{
    background-color: #FFD0DB;
    color: #FF3364;
    }

    .Baja{
    background-color: #A1F0C1;
    color: #1B703D;
    }

    .Media{
    background-color: #FFE793;
    color: #D18718;
    }
    .colors{
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    }
    .tramite{

    position: absolute;
    width: 780px;
    height: 75px;
    left: 700px;
    padding: 5px;
    /* placeholder */

    background: #E5E6ED;
    border-radius: 20px;
    }
    .label{
    font-weight: bold;
    color: #757fef;
    width: 500px;

    }
    .icon{
    text-align: right;
    padding-left: 5px;
    }
    .tramite{

    position: absolute;
    width: 780px;
    height: 75px;
    padding: 5px;
    /* placeholder */

    background: #E5E6ED;
    border-radius: 20px;
    }
    .example-input {
      position: absolute;
      max-width: 100%;
      height: 50px;
      width: 450px;
      border: 1px solid #E5E6ED;
      border-radius: 20px;
      text-align-last: auto;
      text-indent: 15px;
      font-size: 15px;
      margin-inline-start: 1000px;
      background-color: #DEF3F4 !important;
      margin-block-start: 10px;
      
    }
    
    .example-input::placeholder {
       color: black;
    }
    
    .iconomat{
      color: #17bebb; transform: translateY(100%) translateX(5900%);
      position: absolute;
    }
    

.opcionesexp{
  display: flex;
  
}

  
.principal{
  display: flex;
  flex-direction: column;
  background-color: #FBEEFF;

}
.primarycolor{
  color:#f869bf;
}

.spacer {
  flex: 1 1 auto;
}


//desplegable 24/05/23

div.expandable-row {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div.expanded {
  max-height: 1000px; /* Altura máxima para expandir la fila */
}

div.collapsed {
  max-height: 0; /* Altura mínima para colapsar la fila */
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

select {
  background: none;
  border: none;
  padding: 0;
  width: auto; /* o el ancho deseado */
  direction: rtl;
  color:#009688;
  font-weight: bold;
  position: absolute;
  left: 90%;
  top: 5%;
  font-size: 16px;
}

.nuevoT{
  font-weight: bold;
}