<div class="copiasGlobal" style="width: 800px;">
    <div class="copiasCabecera" style="display: flex;" >
        <mat-toolbar style="background-color: white;">
            <span style="color:#17bebb;">Buscar persona</span>
            <span class="spacer"></span>

            <input matInput type="text"
          placeholder="Buscar trámites"
          (keyup)="applyFilter($event)" autocomplete="off"
          class="example-input">
          <mat-icon class="iconomat">search</mat-icon> 
        </mat-toolbar>

    </div>

    <div class="copiasChips" style="margin: 24px;" >
        <mat-chip-listbox>
            <mat-chip-option color="accent" (click)="cambiarVista('DTIGA')"selected > DIRECCION DE TECNOLOGIAS DE LA INFORMACION Y GOBIERNO ABIERTO (DTIGA) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DGRH')"> DIRECCION DE GESTION DE RECURSOS HUMANOS (DGRH) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DA')"> DIRECCION DE ADMINISTRACION (DA) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('AMC')"> AGENCIA MUNICIPAL DE COOPERACION (AMC) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DLC')"> DIRECCION DE LICITACIONES Y CONTRATACIONES (DLC) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DEE')"> DIRECCION DE EMPRESAS Y ENTIDADES (DEE) </mat-chip-option>

        </mat-chip-listbox>

    </div>

    <div class="copiasContenido" *ngIf="vistaArea === 'DTIGA'">
        <table mat-table [dataSource]="dataSource">

            <!-- Checkbox Column -->
            <div class="prueba" >

                <ng-container matColumnDef="select">
                  <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">

                  </th>
                  <td mat-cell *matCellDef="let row">

                      <div class="prueba2" style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb;  margin: 4px;" fontIcon="account_circle"></mat-icon>


                        {{row.name}} / <span style="color:#17bebb">{{row.direccion}} / {{row.cargo}}</span>


                </div>
                  </td>
                </ng-container>

                <!-- Position Column -->

            </div>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="seleccionadoCant(); selectedRow = row; obtenerElemento(row)" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
            </tr>
          </table>


    </div>
    <div class="copiasContenido" *ngIf="vistaArea === 'DGRH'">
        <table mat-table [dataSource]="dataSourceDGRH">

            <!-- Checkbox Column -->
            <div class="prueba" >

                <ng-container matColumnDef="select">
                  <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">

                  </th>
                  <td mat-cell *matCellDef="let row">

                      <div class="prueba2" style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb;  margin: 4px;" fontIcon="account_circle"></mat-icon>


                        {{row.name}} / <span style="color:#17bebb">{{row.direccion}} / {{row.cargo}}</span>


                </div>
                  </td>
                </ng-container>

                <!-- Position Column -->

            </div>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)=" seleccionadoCant(); selectedRow = row; obtenerElemento(row)" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
            </tr>
          </table>


    </div>
    <div class="copiasContenido" *ngIf="vistaArea === 'DA'">
        <table mat-table [dataSource]="dataSourceDA">

            <!-- Checkbox Column -->
            <div class="prueba" >

                <ng-container matColumnDef="select">
                  <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">

                  </th>
                  <td mat-cell *matCellDef="let row">

                      <div class="prueba2" style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb;  margin: 4px;" fontIcon="account_circle"></mat-icon>


                        {{row.name}} / <span style="color:#17bebb">{{row.direccion}} / {{row.cargo}}</span>


                </div>
                  </td>
                </ng-container>

                <!-- Position Column -->

            </div>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="seleccionadoCant(); selectedRow = row; obtenerElemento(row)" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
            </tr>
          </table>


    </div>
    <div class="copiasContenido" *ngIf="vistaArea === 'AMC'">
        <table mat-table [dataSource]="dataSourceAMC">

            <!-- Checkbox Column -->
            <div class="prueba" >

                <ng-container matColumnDef="select">
                  <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">

                  </th>
                  <td mat-cell *matCellDef="let row">

                      <div class="prueba2" style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb;  margin: 4px;" fontIcon="account_circle"></mat-icon>


                        {{row.name}} / <span style="color:#17bebb">{{row.direccion}} / {{row.cargo}}</span>


                </div>
                  </td>
                </ng-container>

                <!-- Position Column -->

            </div>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)=" seleccionadoCant(); selectedRow = row; obtenerElemento(row)" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
            </tr>
          </table>


    </div>
    <div class="copiasContenido" *ngIf="vistaArea === 'DLC'">
        <table mat-table [dataSource]="dataSourceDLC">

            <!-- Checkbox Column -->
            <div class="prueba" >

                <ng-container matColumnDef="select">
                  <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">

                  </th>
                  <td mat-cell *matCellDef="let row">

                      <div class="prueba2" style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb;  margin: 4px;" fontIcon="account_circle"></mat-icon>


                        {{row.name}} / <span style="color:#17bebb">{{row.direccion}} / {{row.cargo}}</span>


                </div>
                  </td>
                </ng-container>

                <!-- Position Column -->

            </div>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="seleccionadoCant(); selectedRow = row; obtenerElemento(row) " [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
            </tr>
          </table>


    </div>
    <div class="copiasContenido" *ngIf="vistaArea === 'DEE'">
        <table mat-table [dataSource]="dataSourceDEE">

            <!-- Checkbox Column -->
            <div class="prueba" >

                <ng-container matColumnDef="select">
                  <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">

                  </th>
                  <td mat-cell *matCellDef="let row">

                      <div class="prueba2" style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb;  margin: 4px;" fontIcon="account_circle"></mat-icon>


                        {{row.name}} / <span style="color:#17bebb">{{row.direccion}} / {{row.cargo}}</span>


                </div>
                  </td>
                </ng-container>

                <!-- Position Column -->

            </div>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="seleccionadoCant(); selectedRow = row; obtenerElemento(row)" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
            </tr>
          </table>



    </div>

    <div class="copiasInferior" >
        <mat-toolbar style="background-color: #def3f4; margin-top: 16px;">
            <button mat-icon-button style="color: #f869bf;" (click)="deseleccionarTodo()" aria-label="Example icon-button with share icon">
              <mat-icon style="color: #f869bf;" >close</mat-icon>
            </button>

            <span style="padding: 8px; color:  #f869bf">{{seleccionado}} Seleccionados</span>
            <span class="spacer"></span>
            <button class="btn-primary-600" mat-dialog-close mat-raised-button color="primary" (click)="nombresCopias()">Insertar</button>
            <button class="btn-primary-600" mat-dialog-close mat-raised-button color="primary">Cancelar</button>

        </mat-toolbar>

    </div>


</div>
