<div class="container">
    <mat-toolbar style="background-color: white;">
        <span ><h5 style="color: #17bebb; padding: 10px 10px 10px 10px;" mat-dialog-title>Buscar personas</h5></span>
         <input matInput type="text"
                    placeholder="Buscar destino:"
                     autocomplete="off"
                    class="example-input"
                    (keyup)="applyFilter($event)" autocomplete="off">
                 <mat-icon class="iconomat">search</mat-icon> 
                 
      </mat-toolbar>
    <div class="superior">
        <mat-chip-listbox>
            <mat-chip-option color="accent" (click)="cambiarVista('DTIGA')"selected > DIRECCION DE TECNOLOGIAS DE LA INFORMACION Y GOBIERNO ABIERTO (DTIGA) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DGRH')"> DIRECCION DE GESTION DE RECURSOS HUMANOS (DGRH) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DA')"> DIRECCION DE ADMINISTRACION (DA) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('AMC')"> AGENCIA MUNICIPAL DE COOPERACION (AMC) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DLC')"> DIRECCION DE LICITACIONES Y CONTRATACIONES (DLC) </mat-chip-option>
            <mat-chip-option color="accent" (click)="cambiarVista('DEE')"> DIRECCION DE EMPRESAS Y ENTIDADES (DEE) </mat-chip-option>   
        </mat-chip-listbox>
    </div>

<div class="copiasContenido" *ngIf="vistaArea === 'DTIGA'">
    <table mat-table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <div class="prueba" >

            <ng-container matColumnDef="select" >
              <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">
                
              </th>
              <td mat-cell *matCellDef="let row">
                  
                  <div class="prueba2" >
                    <mat-chip style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;"
                        fontIcon="account_circle"></mat-icon>           
           {{row.name}} / <span style="color: #17bebb">{{row.direccion}} / {{row.cargo}}</span>   
                    </mat-chip>
                    
            </div>
              </td>
            </ng-container>
          
            <!-- Position Column -->

        </div>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionadoCant(); selectedRow = row" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
        </tr>
      </table>


</div>
<div class="copiasContenido" *ngIf="vistaArea === 'DGRH'">
    <table mat-table [dataSource]="dataSourceDGRH">

        <!-- Checkbox Column -->
        <div class="prueba" >

            <ng-container matColumnDef="select">
              <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">
                
              </th>
              <td mat-cell *matCellDef="let row">
                  
                  <div class="prueba2" >
                    <mat-chip style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;"
                        fontIcon="account_circle"></mat-icon>           
           {{row.name}} / <span style="color: #17bebb">{{row.direccion}} / {{row.cargo}}</span>   
                    </mat-chip>
  
            </div>
              </td>
            </ng-container>
          
            <!-- Position Column -->

        </div>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionadoCant(); selectedRow = row" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
        </tr>
      </table>


</div>
<div class="copiasContenido" *ngIf="vistaArea === 'DA'">
    <table mat-table [dataSource]="dataSourceDA">

        <!-- Checkbox Column -->
        <div class="prueba" >

            <ng-container matColumnDef="select">
              <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">
                
              </th>
              <td mat-cell *matCellDef="let row">
                  
                  <div class="prueba2" >
                    <mat-chip style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;"
                        fontIcon="account_circle"></mat-icon>           
           {{row.name}} / <span style="color: #17bebb">{{row.direccion}} / {{row.cargo}}</span>   
                    </mat-chip>
                    
                
            </div>
              </td>
            </ng-container>
          
            <!-- Position Column -->

        </div>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionadoCant(); selectedRow = row" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
        </tr>
      </table>


</div>
<div class="copiasContenido" *ngIf="vistaArea === 'AMC'">
    <table mat-table [dataSource]="dataSourceAMC">

        <!-- Checkbox Column -->
        <div class="prueba" >

            <ng-container matColumnDef="select">
              <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">
                
              </th>
              <td mat-cell *matCellDef="let row">
                  
                  <div class="prueba2" >
                    <mat-chip style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;"
                        fontIcon="account_circle"></mat-icon>           
           {{row.name}} / <span style="color: #17bebb">{{row.direccion}} / {{row.cargo}}</span>   
                    </mat-chip>
                    
                
            </div>
              </td>
            </ng-container>
          
            <!-- Position Column -->

        </div>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionadoCant(); selectedRow = row" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
        </tr>
      </table>


</div>
<div class="copiasContenido" *ngIf="vistaArea === 'DLC'">
    <table mat-table [dataSource]="dataSourceDLC">

        <!-- Checkbox Column -->
        <div class="prueba" >

            <ng-container matColumnDef="select">
              <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">
                
              </th>
              <td mat-cell *matCellDef="let row">
                  
                  <div class="prueba2" >
                    <mat-chip style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;"
                        fontIcon="account_circle"></mat-icon>           
           {{row.name}} / <span style="color: #17bebb">{{row.direccion}} / {{row.cargo}}</span>   
                    </mat-chip>
                    
                
            </div>
              </td>
            </ng-container>
          
            <!-- Position Column -->

        </div>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionadoCant(); selectedRow = row" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
        </tr>
      </table>


</div>
<div class="copiasContenido" *ngIf="vistaArea === 'DEE'">
    <table mat-table [dataSource]="dataSourceDEE">

        <!-- Checkbox Column -->
        <div class="prueba" >

            <ng-container matColumnDef="select">
              <th  style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header">
                
              </th>
              <td mat-cell *matCellDef="let row">
                  
                  <div class="prueba2" >
                    <mat-chip style="background-color: rgb(245, 245, 245);border: 1px solid black; border-radius: 30px;">
                        <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;"
                        fontIcon="account_circle"></mat-icon>           
           {{row.name}} / <span style="color: #17bebb">{{row.direccion}} / {{row.cargo}}</span>   
                    </mat-chip>
                    
                
            </div>
              </td>
            </ng-container>
          
            <!-- Position Column -->

        </div>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="height: -100px;" mat-header-cell *matHeaderCellDef class="hidden-header"></th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionadoCant(); selectedRow = row" [class.selected]="row === selectedRow" [class.deselected]="row !== selectedRow">
        </tr>
      </table>


</div>
   
    <div class="botonesfinal" style="height: 68px; padding: 8px ;background-color: #def3f4">
        <mat-toolbar style="background-color: #def3f4;">    
                <button style="padding: 8px; color:  #f869bf" mat-icon-button class="secondary-300 " (click)="deseleccionarTodo()">
                    <mat-icon>clear</mat-icon>
                  </button>
                  <span class="secondary-300" style="font-size: 18px;margin-block-end: 5px;">{{seleccionado}} Seleccionados</span>
                  <button class="boton" (click)="nombresCopias()" mat-raised-button mat-dialog-close >Insertar</button>
                <button class="boton2" mat-raised-button   mat-dialog-close>Cancelar</button>  
               
        </mat-toolbar>
      </div>
    </div>
