<div class="superior">
    <div class="title">
      <mat-toolbar style="background-color: white;">
  
       <span class="primarycolor">Buscar persona</span>
  
       <span class="spacer"></span>
       <button mat-icon-button class="example-icon primarycolor" mat-dialog-close aria-label="Example icon-button with share icon">
         <mat-icon >close</mat-icon>
      </button>
     </mat-toolbar>
  
    </div>
  
  
  </div>
  <div class="contenido">
  
    <div class="fila1">
  
      <mat-form-field class="buscador custom-rounded" >
        <input matInput placeholder="Buscar" style="color:#757FEF;">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar</mat-label>
        <mat-select>
          <mat-option value="one">Nivel I. Normativo Fiscalizador</mat-option>
          <mat-option value="two">Nivel II. Administración Centralizada</mat-option>
          <mat-option value="tr">Nivel II. Administración Centralizada</mat-option>
          <mat-option value="two">Nivel II. Administración Centralizada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
  <div class="listas">
  
  
  </div>
  
  </div>
  <div class="inferior">
  
  
  </div>
  