.primarycolor{
    color:#6E49AB;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  
  .buscador{
    color: #757FEF;
    border-radius: 15px;
  }
  
  .custom-rounded .mat-form-field-wrapper {
    border-radius: 20px;
  }
  