<div fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row"
     fxLayout="row" fxLayoutGap="0.6%">
    <div fxFlex="98%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card>
            <div fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row" fxLayout="row"
                 fxLayoutAlign="start center" fxLayoutGap="2%">

            </div>
        </mat-card>
        <mat-card  style="width: 1631px;"   >
              <input matInput type="text"
              placeholder="Buscar trámites"
              (keyup)="applyFilter($event)" autocomplete="off"
              class="example-input">
              <mat-icon class="iconomat">search</mat-icon>
              <div class="mat-elevation-z2">

                <button mat-raised-button *ngIf="contador >= 2" style="margin-top: 18px;
                    margin-bottom: 17px;
                    margin-left: 15px; font-weight: bold;" (click)="recibirTodo()">Recibir Todos</button>
    
                    <button mat-raised-button disabled *ngIf="contador === 1 || contador === 0" style="margin-top: 18px;
                    margin-bottom: 17px;
                    margin-left: 15px; font-weight: bold;" >Recibir Todos</button>

                <button mat-button [matMenuTriggerFor]="menu" style="position: absolute; left: 89%; top: 4%; color:#009688; font-weight: bold;"> <mat-icon style="color:#009688"> expand_more</mat-icon>  {{diaSeleccionado}} </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="selectDias('todos')">Todas las fechas</button>
                    <button mat-menu-item (click)="selectDias('7')">últimos 7 días</button>
                    <button mat-menu-item (click)="selectDias('14')">últimos 14 días</button>
                    <button mat-menu-item>Junio 2023</button>
                    <button mat-menu-item>Mayo 2023</button>
                    <button mat-menu-item>Abril 2023</button>
                </mat-menu>

                <!-- <mat-form-field appearance="fill">
                <mat-label>Acciones en bloque</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="recibir">
                  <mat-option *ngFor="let recibir of accionesBloque" [value]="recibir.value">
                    {{recibir.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="resetCont($event.checked); $event ? toggleAllRows() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="actualizarContador($event.checked); $event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)"
                                          [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container  matColumnDef="nuevo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <a class="pointer">
                                <mat-icon *ngIf="  element.nro_tramite  === 4443 ||  element.nro_tramite  === 4444"> sync_alt </mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nro_tramite">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Tramite </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;" [ngClass]="{'nuevoT': !lisTramite.includes(element)}">
                            {{element.nro_tramite}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nro_copia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Copia </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;" [ngClass]="{'nuevoT': !lisTramite.includes(element)}">
                            {{element.nro_copia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cite">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cite </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.asunto.split("-")[0]}} </td>
                    </ng-container>
                    <ng-container matColumnDef="asunto">

                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.asunto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipo_tramite" style="text-align: center;">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Tramite </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.tipo_tramite}} </td>
                    </ng-container>
                    <ng-container matColumnDef="procedencia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Procedencia </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.procedencia}} </td>
                    </ng-container>
                    <!--ng-container matColumnDef="fecha_creacion">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha Creacion </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha_creacion}} </td>
                        </ng-container-->
                    <ng-container matColumnDef="fecha_envio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Envio </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.fecha_envio}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tomado_por">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tomado Por </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.tomado_por}} </td>
                    </ng-container>
                    <ng-container matColumnDef="so_sistema_nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingresado </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.so_sistema_nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dias_atencion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias Atencion </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'nuevoT': !lisTramite.includes(element)}"> {{element.dias_atencion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="prioridad">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
                      <td mat-cell *matCellDef="let element"> <div class="colors {{element.prioridad}}">
                        {{element.prioridad}}
                      </div></td>
                  </ng-container>
                    <ng-container matColumnDef="opciones">
                        <th mat-header-cell *matHeaderCellDef width="10%"
                            style="text-align: center;">   Opciones   </th>
                        <td mat-cell *matCellDef="let element; let i = index"
                            style="text-align: right;">
                            <a class="pointer" style="color:#009688" (click)="openDialog()"matTooltip="Ver Historial">
                                <mat-icon> history</mat-icon>
                            </a>
                            <a class="pointer" style="color:#009688" matTooltip="Editar" (click)="seleccionarPestana(1, element)"
                               matTooltip="Recibir Tramite">
                                <mat-icon> check</mat-icon>
                            </a>
                            <a  class="pointer" style="color:#009688" (click)="eliminarTramite(i, element)"
                               matTooltip="Revertir Trámite">
                                <mat-icon> keyboard_return</mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        >
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                               aria-label="Select page of periodic elements"></mat-paginator>

            </div>

            <!--h2 *ngIf = "">No hay Tramites para Mostrar</h2-->
        </mat-card>
    </div>
</div>
