<mat-toolbar class="primary-600" style="background: white ;">
  <span>Eliminar trámite</span>
</mat-toolbar>

<mat-dialog-content style="padding: 16px;">
  ¿Está seguro de que desea eliminar el Tramite Nro:"{{nrotramite}}" - {{nrocopia}} | Asunto: {{asunto}}?
</mat-dialog-content>
<mat-dialog-actions style="margin: 12px">
  <button class="boton" mat-button mat-dialog-close>Cancelar</button>
  <button class="boton" mat-button [mat-dialog-close]="true" >Aceptar</button>
</mat-dialog-actions>

