@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.color-primary_300 {
    color: #17bebb;
}

.primary-50{
    color: #def3f4;
}
.primary-600{
    color: #00938b;
}
.secondary-300{
    color:  #f869bf;
}
.secondary-50{
    color: #fce6f4;
}
.secondary-600{
    color: #ea1693;
}

.cotram-primary-200{
    color: #3de5bc;
}

.cotram-primary-50{
    color:  #d8f9ef;
}

.ecotram-primary-600{
 color: #00b16e;
}

.ecotram-secondary-50{
    color:#f0ecff;
}
.ecotram-secondary-300{
    color:#a091f8;
}
.ecotram-secondary-600{
    color:#635be6;
}
// texto
.text-font-size-0{
    font-size: 9px;
}



//login//
.btn-primary-600 {
    background-color: #00938b !important;
    color: #FFFFFF !important;
    padding: 12px 16px !important;
    margin-right: 24px !important;
    line-height:normal !important;
}
.rigth-inf{
    background-color: #00938b;
    width: 33%;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/// tipografia
.text-font-item-1{  
  color:#FFFFFF;
  text-align: left;
  font-size: 34px;
  padding: 4% 20% 4% 4%;
  align-items: center;
  font-weight: 700;
  line-height: 42px;
  font-family:'lexend';
}

.text-font-item-2{
    padding: 0% 29% 4% 4%;
    color:#FFFFFF;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family:'lexend';
}
  
.text-h3-font-titulo{ 
    color:#00938b !important;
    text-align: left;
    font-size: 34px;
    padding: 4% 20% 4% 4%;
    align-items: center;
    font-weight: 700;
    line-height: 42px;
    font-family:'lexend';
  }
  
  .text-font-inicio-session{ 
    color: #00938b;
    font-style: normal;
    text-align: left;
    font-size: 18px;
    padding: 0% 10% 4% 17%;
    font-weight: 500;
    line-height: 22px;
    font-family:'lexend';
  }

  ////
  .inferior{
    display:  flex;
    flex-direction: row;
    height: 20%;
    background-color: #def3f4;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
  }

