<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Lexend:wght@700&family=Roboto:wght@300;400&family=Space+Grotesk:wght@600&display=swap"
      rel="stylesheet">

<mat-toolbar style="background:#ffffff; height: 40px;">
    <span>Enviar Trámite</span>
</mat-toolbar>
<div style=" width: 1158px;">
  <form action="">
    <mat-form-field class="inputAncho" style="height: 90px;">
      <span matPrefix>&nbsp; De:&nbsp;</span>
      <mat-chip-grid #chipGrid >

        <mat-chip-row *ngFor="let de of de"
                      (removed)="remove(de)"
                      [editable]="true" [aria-description]="'press enter to edit ' + de.name"
                      style="background-color: rgb(245, 245, 245);border: 1px solid black;">
                      <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="{{de.icon}}"></mat-icon>
            <!-- <mat-icon style="width: 22px; height: 24px;margin-top: 5px; color: #17bebb; margin-inline-end: 15px;">account_circle</mat-icon> -->
                     {{de.name}} / <span style="color:#17bebb">{{de.dep}} / {{de.car}}</span>
            <button matChipRemove [attr.aria-label]="'remove ' + de.name">
                <mat-icon style="color:#17bebb;">close</mat-icon>
            </button>
        </mat-chip-row>
        <input [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)" />
    </mat-chip-grid>
    </mat-form-field>
    <div class="paraContainer">
      <mat-form-field class="paraButtons">
        <span matPrefix>&nbsp; Para:&nbsp;</span>
        <mat-chip-grid  #chipGridB >
          <mat-chip-row *ngFor="let para of datosPersona"
                        
                        [editable]="true" 
                        style="background-color: rgb(245, 245, 245);border: 1px solid black;">
                         <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>
             <!-- <mat-icon style="width: 22px; height: 24px;margin-top: 5px; color: #17bebb; margin-inline-end: 15px;">account_circle</mat-icon>  -->
                        {{para.name}} / <span style="color:#17bebb">{{para.direccion}} / {{para.cargo}}</span>
                        <button matChipRemove [matMenuTriggerFor]="menu" [attr.aria-label]="'remove ' + para.name">
                          <mat-icon style="color:#17bebb;" matRipple
                          [matRippleCentered]=true
                          [matRippleRadius]=20
                          [matRippleUnbounded]=true
                                  
                          >more_vert</mat-icon>
                      </button>
                  </mat-chip-row>
                  <mat-menu #menu="matMenu" >
                    <!-- <div style="display:flex; flex-direction: column;">

                        <button mat-button style="color:#00938b ; padding:16px;">Agregar proveido</button>
                        <button mat-button style="color:#00938b ; padding:16px;">Eliminar copia</button>
                    </div> -->
                    <button mat-menu-item>Agregar proveido</button>
                    <button mat-menu-item>Eliminar copias</button>

                    </mat-menu>

          <input [matChipInputFor]="chipGridB" (matChipInputTokenEnd)="add2($event)" />
      </mat-chip-grid>
      </mat-form-field>
      <button mat-raised-button color="primary" class="buttonComp dias" (click)="openBP()"> Buscar Personas </button>
      <button *ngIf="copiasControl === false"  class="buttonComp dias" mat-raised-button color="primary" (click)="mostrarCopias()"> Crear copias </button>

    </div>
    <div class="areaCopias paraContainer" *ngIf="copiasControl === true">
      <mat-form-field class="inputAncho paraButtons">
        <span matPrefix>&nbsp; Copias:&nbsp;</span>
        <mat-chip-grid  #chipGridB >
          <ng-container *ngFor="let para of datosCopia">

            <mat-chip-row
            (removed)="remove2(para)"
            [editable]="true" [aria-description]="'press enter to edit ' + para.name"
            style="background-color: rgb(245, 245, 245);border: 1px solid black;">
            <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>
            <!-- <mat-icon style="width: 22px; height: 24px;margin-top: 5px; color: #17bebb; margin-inline-end: 15px;">account_circle</mat-icon>  -->
            {{para.name}} / <span style="color:#17bebb">{{para.direccion}} / {{para.cargo}}</span>
            <!-- <button (click)="limpiarCopias(para)"matChipRemove [attr.aria-label]="'remove ' + para.name">
              <mat-icon style="color:#17bebb;">close</mat-icon>
            </button>
          </mat-chip-row> -->
          <button matChipRemove [matMenuTriggerFor]="menu" [attr.aria-label]="'remove ' + para.name">
                          <mat-icon style="color:#17bebb;" matRipple
                          [matRippleCentered]=true
                          [matRippleRadius]=20
                          [matRippleUnbounded]=true
                                  
                          >more_vert</mat-icon>
                      </button>
              </mat-chip-row>
                  <mat-menu #menu="matMenu" >
                    <!-- <div style="display:flex; flex-direction: column;">

                        <button mat-button style="color:#00938b ; padding:16px;">Agregar proveido</button>
                        <button mat-button style="color:#00938b ; padding:16px;">Eliminar copia</button>
                    </div> -->
                    <button mat-menu-item>Agregar proveido</button>
                    <button mat-menu-item (click)="limpiarCopias(para)" >Eliminar copias</button>

                    </mat-menu>
          </ng-container>

          <input [matChipInputFor]="chipGridB" (matChipInputTokenEnd)="add2($event)" />
      </mat-chip-grid>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openCopias()" class="buttonComp dias"> Crear copias </button>

    </div>

    <mat-form-field class="inputAncho">
      <span matPrefix>&nbsp; Asunto:&nbsp;</span>
      <input matInput>
    </mat-form-field>

    <div class="principal">

      <div class="izquierda" style=" width: 45%;">
        <mat-form-field class="margen" style=" width: 100%;">
          <mat-label>Tipo de trámite:</mat-label>
          <mat-select >
            <mat-option value="one">Regularizacion de construcciones fuera de norma</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="inputAncho1">
          <mat-label>Proveído:</mat-label>
          <textarea matInput style="width: 100%;
          height: 140px;"></textarea>
        </mat-form-field>

      </div>

      <div class="derecha">

        <div class="superior">

          <mat-form-field class="margen">
            <mat-label>Número de forjas:</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card class="cardAncho">
            <mat-card-content>
              Adjuntar archivo:...
            </mat-card-content>
          </mat-card>

          <button style="margin-top: 3%;" mat-raised-button color="primary" class="dias">Cargar</button>

        </div>

        <div >

          <mat-form-field class="inputAncho1">
            <mat-label>Descripcion de fojas:</mat-label>
            <textarea matInput style="width: 100%;
            height: 140px;"></textarea>
          </mat-form-field>

        </div>

      </div>

    </div>



    <!-- <div class="flex-container">




    </div>
  <div class="flex-container">


  </div> -->
  <div class="dos">
      <mat-form-field style="width: 20%;">
        <span matPrefix>&nbsp;N°copias: &nbsp;</span>
        <input matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 3%;">
      <mat-label >N° dias de atención:</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-checkbox class="example-section">Urgente</mat-checkbox>
  </div>
    <div class="button">
      <!-- <button mat-raised-button *ngIf="isButtonClicked === false" color="primary" class="b1 " (click)="buttonClicked()">Guardar cambios</button> -->
      <button mat-raised-button color="primary" class="b2 btn-primary-600" style="margin-right: 5px;" (click)="enviarTramite()">Enviar trámite</button>
      <button mat-raised-button color="primary" class="dias">Guardar trámite</button>
      <button mat-raised-button *ngIf="isButtonClicked === false" color="primary" class="dias" (click)="openFusionar(); buttonClicked()">Fusionar</button>
      <button mat-raised-button *ngIf="isButtonClicked !== false" color="primary" class="dias" (click)="openFusionar(); buttonClicked()">Desfusionar</button>
      <button mat-raised-button color="primary" class="b3" mat-dialog-close>Cancelar</button>
    </div>
  </form>
</div>


