:host
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 2158;
  justify-content: space-between;
}
.inputAncho
{
  width: 100%;
  margin-bottom: -15px;
}
.buttonComp{
  flex-grow: 0;
  width: 215px;
  margin: 8px;
}

.paraButtons{
  flex-grow: 1;
  width: 100%;
}
.paraContainer{
  display: flex;
  align-items: baseline;
}

.inputAncho1
{
  width: 100%;
  margin: 5px;
  height: 200px;
}
.cardAncho{
  max-width: 500px;
  margin: 5px;
  height: 100%;
}
// .flex-container{
//   display: flex;
//   width: 100%;
// }
.example-section {
  align-content: center;
  align-items: center;
  height: 60px;
}
.dos{
  display: flex;
  width: 100;
  margin: 5px;
}
.b1{
  margin: 5px;
  background-color: #17bebb;
}
.b2{
  background-color: #6e49ab;
}
.b3
{
  float: right;
  background-color: #17bebb;
}

.dias{
    margin: 5px;
    background-color: #17bebb;

}
.margen{
    margin-top: 5px;
    width: 300px;
    display: flex;

}

.principal{
  display:flex;
  flex-direction: row;
}

.superior{
  display:flex;
  flex-direction: row;
}

.derecha{
  margin-left: 25px;
}
