.superior{
    height: 80%;
    background-color: red;
  }

  .inferiorEnvTodo{
    display: flex;
    flex-direction: column;
    height: 20%;
    background-color: #def3f4;
    padding: 10px 10px 10px 10px;
  }

  .colors{
    padding: 4px;
    border-radius: 5px;
    text-align: center;
  }

  .primarycolor{
    color:#00938b;
  }
  
  .btn-secondary-50{
    background-color: #fce6f4;
    color:#000000;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .Urgente{
    background-color: #FFD0DB;
    color: #FF3364;
  }

  
  .Alta{
    background-color: #FFD0DB;
    color: #FF3364;
  }

  .Baja{
    background-color: #A1F0C1;
    color: #1B703D;
  }

  .Media{
    background-color: #FFE793;
    color: #D18718;
  }


  ///asdasd
  
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .buttonComp{
    flex-grow: 0;
    width: 215px;
    margin: 8px;
  }
  
  .paraButtons{
    flex-grow: 1;
    width: 100%;
  }


  .dias{
    margin-left: 8px;
    background-color: #17bebb;

}

.clicked {
  color: #ea1693 !important;
}

.example-input {
  position: absolute;
  max-width: 100%;
  height: 50px;
  width: 450px;
  border: 1px solid #E5E6ED;
  border-radius: 20px;
  text-align-last: auto;
  text-indent: 15px;
  font-size: 15px;
  margin-inline-start: 1000px;
  background-color: #DEF3F4 !important;
  margin-block-start: 0px;
  
}

.example-input::placeholder {
   color: black;
}

.iconomat{
  color: #17bebb; transform: translateY(5%) translateX(5900%);
  position: absolute;
}