<div class="superior">
    <div class="title" style="padding-top: 24px; background-color: white;">
      <mat-toolbar style="padding: 24px 24px 24px 24px; background-color: white">
  
       <span class="primarycolor">Trámites para enviar</span>
       <span class="spacer"></span>
  
       <input matInput type="text"
          placeholder="Buscar trámites"
          (keyup)="applyFilter($event)" autocomplete="off"
          class="example-input">
          <mat-icon class="iconomat">search</mat-icon>
           

       <button mat-icon-button class="example-icon primarycolor" mat-dialog-close aria-label="Example icon-button with share icon">

        <mat-icon >close</mat-icon>
      </button>
     </mat-toolbar>
  
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select" *ngIf="false">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)=" $event ? toggleAllRows() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)=" $event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="nro_tramite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Tramite </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"  >
                    {{element.nro_tramite}} </td>
            </ng-container>
            <ng-container matColumnDef="nro_copia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Copia </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"  >
                    {{element.nro_copia}} </td>
            </ng-container>
            <ng-container matColumnDef="asunto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </th>
                <td mat-cell *matCellDef="let element"  > {{element.asunto}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo_tramite" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Tramite </th>
                <td mat-cell *matCellDef="let element"  > {{element.tipo_tramite}} </td>
            </ng-container>
            <ng-container matColumnDef="procedencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Procedencia </th>
                <td mat-cell *matCellDef="let element "  >  {{element.procedencia}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha_envio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Envio </th>
                <td mat-cell *matCellDef="let element"  > {{element.fecha_envio}} </td>
            </ng-container>
            <ng-container matColumnDef="tomado_por">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tomado Por </th>
                <td mat-cell *matCellDef="let element"  > {{element.tomado_por}} </td>
            </ng-container>
            <ng-container matColumnDef="so_sistema_nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingresado </th>
                <td mat-cell *matCellDef="let element"  > {{element.so_sistema_nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="dias_atencion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias Atencion </th>
                <td mat-cell *matCellDef="let element"  > {{element.dias_atencion}} </td>
            </ng-container>
            <ng-container matColumnDef="prioridad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
              <td mat-cell *matCellDef="let element"> <div class="colors {{element.prioridad}}">
                {{element.prioridad}}
              </div></td>
          </ng-container>
            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef>   Opciones   </th>
                <td mat-cell *matCellDef="let element; let i = index"
                    style="text-align: center;">

                    <a [ngClass]="{'clicked': isSelected2(element)}" style="color:#009688" (click)="selectRow(element)" class="pointer" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()" matTooltip="Editar">
                        <mat-icon > create</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef= "expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div *ngIf="expandedElement === element" class="example-element-detail principal"
                       [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'" style=" display: flex; flex-direction: column;">
                       <div class="tituloexp" style="display: flex; align-items: stretch;">
                           <mat-form-field style="width: 20%;">
                               <mat-label>Numero de fojas</mat-label>
                               <mat-select>
                               <mat-option value="one">1</mat-option>
                               <mat-option value="two">5</mat-option>
                               </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 40%; margin-left: 15px;">
                                <mat-label>Descripción:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field style="width: 20%; margin-left: 15px;">
                                <mat-label>Adjuntar archivo: ... </mat-label>
                                <input matInput>
                            </mat-form-field>
                            <button mat-raised-button class="dias" style="color:white; margin-left: 15px; margin-top: 10px; " >Cargar</button>
                       </div>
                       <div class="opcionesexp" style="display: flex; align-items: stretch;">
                            <mat-form-field style="width: 20%;">
                                <mat-label>Días de atención:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field style="width: 35%; margin-left: 15px;">
                                <mat-label>Proveído:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <button mat-raised-button color="primary" style="background-color: #00938b; color:white; margin-left: 15px; margin-top: 10px; ">Guardar cambios</button>
                            <button mat-raised-button class="dias" style="color:white; margin-left: 15px; margin-top: 10px; " (click)="openFusionar()">Fusionar</button>
                            <button class="dias" style="color:white; margin-left: 15px; margin-top: 10px;" mat-raised-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                                Cancelar
                            </button>

                       </div>
                      
                    
                  </div>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  >
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                       aria-label="Select page of periodic elements"></mat-paginator>

    </div>
  
  </div>
  
  <div class="inferiorEnvTodo">
        <div class="firstpart">
            <mat-form-field style="width: 80%;">
                <span matPrefix>&nbsp; Para:&nbsp;</span>
                <mat-chip-grid  #chipGridB >
                  <mat-chip-row *ngFor="let para of datosPersona"
                                
                                [editable]="true" 
                                style="background-color: rgb(245, 245, 245);border: 1px solid black;">
                                 <mat-icon style="color:#17bebb; margin: -8px;margin-inline-end: 10px;" fontIcon="account_circle"></mat-icon>
                     <!-- <mat-icon style="width: 22px; height: 24px;margin-top: 5px; color: #17bebb; margin-inline-end: 15px;">account_circle</mat-icon>  -->
                                {{para.name}} / <span style="color:#17bebb">{{para.direccion}} / {{para.cargo}}</span>
                      <button matChipRemove [matMenuTriggerFor]="menu" [attr.aria-label]="'remove ' + para.name">
                          <mat-icon style="color:#17bebb;" matRipple
                          [matRippleCentered]=true
                          [matRippleRadius]=20
                          [matRippleUnbounded]=true
                                  
                          >more_vert</mat-icon>
                      </button>
                  </mat-chip-row>
                  <mat-menu #menu="matMenu" >
                    <!-- <div style="display:flex; flex-direction: column;">

                        <button mat-button style="color:#00938b ; padding:16px;">Agregar proveido</button>
                        <button mat-button style="color:#00938b ; padding:16px;">Eliminar copia</button>
                    </div> -->
                    <button mat-menu-item>Agregar proveido</button>
                    <button mat-menu-item>Eliminar copias</button>

                    </mat-menu>
                  <input [matChipInputFor]="chipGridB" (matChipInputTokenEnd)="add2($event)" />
              </mat-chip-grid>
              </mat-form-field>
              <span class="spacer"></span>
              <button mat-raised-button color="primary" class="dias" (click)="openBP()" style="margin-left: 8px;"> Buscar Personas </button>            
        </div>
            
        <div class="secpart" style="display:flex; flex-wrap: nowrap; flex-direction: column;" >
            <div style="width: 100%; height: 85px; display:flex; flex-direction: row; margin-top: 4px;" *ngIf="mostrarProv || mostrarAdj">
                <!-- <div style="width: 33%; display: flex; padding:4px;" *ngIf="mostrarProv">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Proveído genérico:</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    
                </div>
                <div style="width: 33%; padding: 4px; display: flex; flex-wrap: nowrap;" *ngIf="mostrarAdj">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Adjunto genérico:</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    
                </div> -->
                <mat-form-field *ngIf="mostrarProv" style="width: 33%; margin-left: 8px; ">
                    <mat-label>Proveído genérico:</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field *ngIf="mostrarAdj " style="width: 33%; margin-left: 8px; ">
                    <mat-label>Adjunto genérico:</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field *ngIf="mostrarAdj && mostrarProv" style="width: 20%;  margin-left: 8px;">
                    <mat-label>Días de atención:</mat-label>
                    <input matInput >
                </mat-form-field>
                <button mat-raised-button color="primary" class="dias" *ngIf="mostrarAdj"  style="margin-top: 1%;"> Cargar </button>            
            </div>
            <div>

                <button mat-raised-button style="background-color: #00938b ; color:white;" (click) = "enviarTodo()" mat-dialog-close>Enviar todos</button>
                <button mat-raised-button style="background-color: #00938b ; color:white; margin-left: 8px;">Guardar genérico</button>
                <button mat-raised-button color="primary" class="dias" mat-dialog-close> Cancelar </button>            
                <mat-checkbox style="margin-left: 8px;" (change)="mostrarProveido($event)">Proveído genérico</mat-checkbox>
                <mat-checkbox style="margin-left: 8px;" (change)="mostrarAdjunto($event)">Adjunto genérico</mat-checkbox>
            </div>
            
                
        </div>

  
  
  </div>
  