<div class="row title2 sm-2 " style="padding-left: 24px;">
  Gestion de trámites/Bandeja de Entrada
</div>
<br>
<div class= "row" style="padding: 24px 24px 0px 24px;">
<div class="col-sm-5 col-md-2 " *ngFor="let stat of stats">
    <mat-card >
        <div class="row">
          <div class="col-6 mt-2 d-flex align-items-center justify-content-center">
            <mat-icon aria-hidden="false" [ngStyle]="{'color': stat.text, 'font-size': stat.estilo}" fontIcon="{{stat.icon}}"></mat-icon>
            <!-- <img src="{{stat.icon1}}"  [ngStyle]="{'width': stat.estilo}"> -->
          </div>
          <div class="col-5">
                <mat-card-header class="title">
                    <mat-card-subtitle  [ngStyle]="{'color': stat.text}" >{{stat.title}}</mat-card-subtitle>
                    </mat-card-header>


                <mat-card-content>
                    <h2 class="amount" [ngStyle]="{'color': stat.text}" class="m-y-8">{{stat.amount}}</h2>
                </mat-card-content>
          </div>
        </div>
    </mat-card>
</div>
</div>
