@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Space+Grotesk:wght@600&display=swap');

.title{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.amount{
    // width: 27px;
    // height: 25px;

    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title2{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #260944;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.mat-icon {
   
    height: 60px;
    width: 75px;
}

