.fusionar{
  height: 43px;
    }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .colorcheck{
    color: #D189E8;
  }

.contenido{
    margin: 25px;

}
  
.desfu{
  height: 43px;
}

.custom-select ::ng-deep .mat-select-trigger {
  background-color: #757FEF;
}

.Alta{
    background-color: #FFD0DB;
    color: #FF3364;
  }
  
.Baja{
    background-color: #A1F0C1;
    color: #1B703D;
  }
  
.Media{
    background-color: #FFE793;
    color: #D18718;
}

.colors{
    padding: 4px;
    border-radius: 5px;
    text-align: center;
  }

.example-spacer {
    flex: 1 1 auto;
  }
