@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@300;400&family=Space+Grotesk:wght@600&display=swap');
.container{
    height: 620px;
    width: 1354px;
    background: #FFFFFF;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
}

.toolbar{
    background: #ffffff;
    //margin: 4px;
    height: 20px;
}

#rows{
    margin-top: 7px;
}

#cols{
    width: 250px;
    height: 44px;
    background: #E5E6ED;
    border-radius: 5px;
    margin: 7px;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    //padding: 10px ;
    //gap: 10px;
}


.example-spacer {
    flex: 1 1 auto;
  }

mat-dialog-contenty{
    width: 1354px;
}

.mat-form-field{
    width: 250px; 
    height: 44px; 
    margin: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;

}