<br>
<div class="container">
    <mat-toolbar class="toolbar">
        <h1>Seleccionar tipo de trámite</h1>
        <span class="example-spacer"></span>
        <button mat-dialog-close mat-icon-button class="example-icon">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content class="mat-typography">

        <div class="row" id="rows">
            <div class="col" id="cols">
                <mat-radio-button value="1" (change)="ocultarComboBox(1)">Actualización</mat-radio-button>
                <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox1">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione Sub-Tramite</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let act of act" [value]="act.sub">
                                {{act.sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col" id="cols">
                <mat-radio-button value="2" (change)="ocultarComboBox(2)">Administracion territorial</mat-radio-button>
                <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox2">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione Sub-Tramite</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let admt of admt" [value]="admt.sub">
                                {{admt.sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="col" id="cols">
                <mat-radio-button value="3" id="option" (change)="ocultarComboBox(3)">Calificacion años de servicio</mat-radio-button>
                <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox3">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione Sub-Tramite</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let cas of cas " [value]="cas.sub">
                                {{cas.sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col" id="cols">
                <mat-radio-button value="4" id="option" (change)="ocultarComboBox(4)">Catastro</mat-radio-button>
                <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox4">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione Sub-Tramite</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let cat of cat" [value]="cat.sub">
                                {{cat.sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col" id="cols">
                <mat-radio-button value="5" id="option" (change)="ocultarComboBox(5)">Catastro en linea</mat-radio-button>
                <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox5">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione Sub-Tramite</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let catel of catel" [value]="catel.sub">
                                {{catel.sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col" id="cols">
                <mat-radio-button value="6" id="option"
                                  (change)="ocultarComboBox(6)">Correspondencia Ciudadana CM</mat-radio-button>
                <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox6">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione Sub-Tramite</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let cccm of cccm" [value]="cccm.sub">
                                {{cccm.sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

            <div class="row" id="rows">
                <div class="col" id="cols">
                    <mat-radio-button value="7" id="option"
                                      (change)="ocultarComboBox(7)">Correspondencia Ciudadana CM Digital </mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox7">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let cccmd of cccmd" [value]="cccmd.sub">
                                    {{cccmd.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col" id="cols">
                    <mat-radio-button value="7" id="option" (change)="ocultarComboBox(8)">Carpetas
                        de Inversión -GAMLP</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox8">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let cdi of cdi" [value]="cdi.sub">
                                    {{cdi.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="8" id="option"
                                      (change)="ocultarComboBox(9)">Correspondencia
                        Ciudadana</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                         *ngIf="mostrarComboBox9">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let corc of corc" [value]="corc.sub">
                                    {{corc.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="9" id="option"
                                      (change)="ocultarComboBox(10)">Correspondencia Ejecutivo
                        Municipal </mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                         *ngIf="mostrarComboBox10">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let corr of corr" [value]="corr.sub">
                                    {{corr.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="col" id="cols">
                    <mat-radio-button value="10" id="option"
                                      (change)="ocultarComboBox(11)">Correspondencia Concejo
                        Municipal </mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;" *ngIf="mostrarComboBox11">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let crcm of crcm" [value]="crcm.sub">
                                    {{crcm.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="11" id="option" (change)="ocultarComboBox(12)">Comercio
                        en Vías y Espacios Públicos</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox12">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let cvep of cvep" [value]="cvep.sub">
                                    {{cvep.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="row" id="rows">
                <div class="col" id="cols">
                    <mat-radio-button value="12" id="option" (change)="ocultarComboBox(13)">Decreto
                        Edil</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox13">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let de of de" [value]="de.sub">
                                    {{de.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col" id="cols">
                    <mat-radio-button value="13" id="option" (change)="ocultarComboBox(14)">Decreto
                        Municipal</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox14">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let dm of dm" [value]="dm.sub">
                                    {{dm.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="14" id="option"
                                      (change)="ocultarComboBox(15)">Denuncias y
                        Reclamos</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox15">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let drtr of drtr" [value]="drtr.sub">
                                    {{drtr.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="15" id="option"
                                      (change)="ocultarComboBox(16)">Ejecucion Procesos de
                        Fiscalización</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox16">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let epfz of epfz" [value]="epfz.sub">
                                    {{epfz.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="16" id="option"
                                      (change)="ocultarComboBox(17)">Fiscalización
                        Territorial</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox17">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let fist of fist" [value]="fist.sub">
                                    {{fist.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="17" id="option"
                                      (change)="ocultarComboBox(18)">Fotocopias</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox18">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let fot of fot" [value]="fot.sub">
                                    {{fot.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <div class="row" id="rows">
                <div class="col" id="cols">
                    <mat-radio-button value="18" id="option"
                                      (change)="ocultarComboBox(19)">Fiscalización Tributos
                        Municipales</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox19">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let ftm of ftm" [value]="ftm.sub">
                                    {{ftm.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="col" id="cols">
                    <mat-radio-button value="19" id="option"
                                      (change)="ocultarComboBox(20)">Inmuebles</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox20">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let inm of inm" [value]="inm.sub">
                                    {{inm.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="20" id="option" (change)="ocultarComboBox(21)">Ley
                        Municipal Autonómica</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox21">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let lam of lam" [value]="lam.sub">
                                    {{lam.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="21" id="option" (change)="ocultarComboBox(22)">Minutas
                        de Comunicación</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox22">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let mc of mc" [value]="mc.sub">
                                    {{mc.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="22" id="option" (change)="ocultarComboBox(23)">Mercados
                        Municipales de Abasto</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox23">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let mma of mma" [value]="mma.sub">
                                    {{mma.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="23" id="option" (change)="ocultarComboBox(24)">Orden de
                        Despacho</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox24">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let od of od" [value]="od.sub">
                                    {{od.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <div class="row" id="rows">
                <div class="col" id="cols">
                    <mat-radio-button value="24" id="option"
                                      (change)="ocultarComboBox(25)">Ordenanza
                        Municipal</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox25">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let om of om" [value]="om.sub">
                                    {{om.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="col" id="cols">
                    <mat-radio-button value="25" id="option"
                                      (change)="ocultarComboBox(26)">Publicidad</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox26">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let p of p" [value]="p.sub">
                                    {{p.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="26" id="option" (change)="ocultarComboBox(27)">Petición
                        de Informe Escrito</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox27">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let pie of pie" [value]="pie.sub">
                                    {{pie.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="27" id="option" (change)="ocultarComboBox(28)">Petición
                        de Informe Oral</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox28">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let pio of pio" [value]="pio.sub">
                                    {{pio.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="28" id="option" (change)="ocultarComboBox(29)">Planilla
                        Pago de Obras</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox29">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let ppo of ppo" [value]="ppo.sub">
                                    {{ppo.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="col" id="cols">
                    <mat-radio-button value="29" id="option"
                                      (change)="ocultarComboBox(30)">Publicidad
                        Urbana</mat-radio-button>
                    <div class="row" style="position: relative; z-index: 1;"
                    *ngIf="mostrarComboBox30">
                        <mat-form-field appearance="fill" >
                            <mat-label>Seleccione Sub-Tramite</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let pub of pub" [value]="pub.sub">
                                    {{pub.sub}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

                <div class="row" id="rows">
                    <div class="col" id="cols">
                        <mat-radio-button value="30" id="option"
                                          (change)="ocultarComboBox(31)">Resolucion
                            Ejecutiva</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox31">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let re of re" [value]="re.sub">
                                        {{re.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="col" id="cols">
                        <mat-radio-button value="31" id="option"
                                          (change)="ocultarComboBox(32)">Requerimiento de
                            Atención</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox32">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let rea of rea" [value]="rea.sub">
                                        {{rea.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="32" id="option"
                                          (change)="ocultarComboBox(33)">Requerimiento de
                            Información</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox33">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let rein of rein" [value]="rein.sub">
                                        {{rein.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="33" id="option"
                                          (change)="ocultarComboBox(34)">Resolucion Municipal
                            CM</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox34">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let rmcm of rmcm" [value]="rmcm.sub">
                                        {{rmcm.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="34" id="option"
                                          (change)="ocultarComboBox(35)">Resolucion
                            Municipal</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox35">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let rmu of rmu" [value]="rmu.sub">
                                        {{rmu.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="35" id="option"
                                          (change)="ocultarComboBox(36)">Sesiones
                            Informativas</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox36">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let sinf of act" [value]="sinf.sub">
                                        {{sinf.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                </div>

                <div class="row" id="rows">

                    <div class="col" id="cols">
                        <mat-radio-button value="36" id="option"
                                          (change)="ocultarComboBox(37)">Solicitud de Información -
                            UT</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox37">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let siut of siut" [value]="siut.sub">
                                        {{siut.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="col" id="cols">
                        <mat-radio-button value="37" id="option"
                                          (change)="ocultarComboBox(38)">Solicitud de
                            Información</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox38">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let soin of soin" [value]="soin.sub">
                                        {{soin.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="38" id="option"
                                          (change)="ocultarComboBox(39)">Transferencia de Área
                            Residual</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox39">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let tar of tar" [value]="tar.sub">
                                        {{tar.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="39" id="option"
                                          (change)="ocultarComboBox(40)">Tramite
                            Digital</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox40">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let td of td" [value]="td.sub">
                                        {{td.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="40" id="option"
                                          (change)="ocultarComboBox(41)">Denuncias
                            Transparencia</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox41">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let tra of tra" [value]="tra.sub">
                                        {{tra.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col" id="cols">
                        <mat-radio-button value="41" id="option" (change)="ocultarComboBox(42)">Uso
                            de Espacios Públicos Temporales</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox42">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let uepp of uepp" [value]="uepp.sub">
                                        {{uepp.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="row" id="rows">

                    <div class="col" id="cols">
                        <mat-radio-button value="42" id="option"
                                          (change)="ocultarComboBox(43)">Vehículos</mat-radio-button>
                        <div class="row" style="position: relative; z-index: 1;"
                        *ngIf="mostrarComboBox43">
                            <mat-form-field appearance="fill" >
                                <mat-label>Seleccione Sub-Tramite</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let veh of veh" [value]="veh.sub">
                                        {{veh.sub}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col" id="cols">xxxxxxxxxxxxxx</div>
                    <div class="col" id="cols">xxxxxxxxxxxxxx</div>
                    <div class="col" id="cols">xxxxxxxxxxxxxx</div>
                    <div class="col" id="cols">xxxxxxxxxxxxxx</div>
                    <div class="col" id="cols">xxxxxxxxxxxxxx</div>
                </div>
            
    </mat-dialog-content>
    <br>

    <mat-dialog-actions style="background:#A1F0C1; border-radius: 0px 0px 7px 7px;">
        <mat-toolbar style="background:#A1F0C1;">
            <button mat-raised-button color="primary">Eliminar Eleccion</button>
            <span class="example-spacer"></span>
            <button [disabled]="true" mat-raised-button color="primary" mat-dialog-close>Crear
                Tramite</button>
        </mat-toolbar>
    </mat-dialog-actions>

</div>