.primarycolor{
    color:#6E49AB;
  }
  
.primarycolorBG{
      background-color:#6E49AB;
    }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .colorcheck{
    color: #D189E8;
  }
.contenido{
    margin: 25px;

}
  
.secondarycolorBG{
  background-color: #757FEF;
  color: white;
}

.custom-select ::ng-deep .mat-select-trigger {
  background-color: #757FEF;
}


.colors{
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}

.Urgente{
  background-color: #FFD0DB;
  color: #FF3364;
}
.Alta{
  background-color: #FFD0DB;
  color: #FF3364;
}

.Baja{
  background-color: #A1F0C1;
  color: #1B703D;
}

.Media{
  background-color: #FFE793;
  color: #D18718;
}
