<div class="cabecera" style="background-color: #FCE6F4">
    <div class="title">
      <mat-toolbar style="background-color: #FCE6F4; padding-top: 25px;
      padding-left: 33px;">

       <span style="color: #EA1693;">Nodo Padre</span>
       <span class="spacer"></span>

       <button mat-icon-button class="example-icon primarycolor" mat-dialog-close aria-label="Example icon-button with share icon">
        <mat-icon >close</mat-icon>
      </button>
     </mat-toolbar>

  </div>

  <div class="contenido" >

  <div class="primeratabla" >
    <table mat-table [dataSource]="dataSourcePrincipal" style="background-color: #FCE6F4">

      <ng-container matColumnDef="tramite">
        <th mat-header-cell *matHeaderCellDef  > Trámite </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.nro_tramite}} </td>
      </ng-container>

      <ng-container matColumnDef="copias">
        <th mat-header-cell *matHeaderCellDef  > Copias </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.nro_copia}} </td>
      </ng-container>

      <ng-container matColumnDef="asunto">
        <th mat-header-cell *matHeaderCellDef  > Asunto </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.asunto}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef  > Tipo de Trámite </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.tipo_tramite}} </td>
      </ng-container>

      <ng-container matColumnDef="procedencia">
        <th mat-header-cell *matHeaderCellDef  > Procedencia </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.procedencia}} </td>
      </ng-container>

      <ng-container matColumnDef="envio">
        <th mat-header-cell *matHeaderCellDef  > F. envio </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.fecha_envio}} </td>
      </ng-container>

      <ng-container matColumnDef="remitente">
        <th mat-header-cell *matHeaderCellDef  > Remitente </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.tomado_por}} </td>
      </ng-container>

      <ng-container matColumnDef="prioridad">
        <th mat-header-cell *matHeaderCellDef  > Prioridad </th>
        <td mat-cell *matCellDef="let element">
          <div class="colors  {{element.prioridad}}">
            {{element.prioridad}}
        
          </div>
         </td>

      </ng-container>

      
      
      <tr mat-header-row *matHeaderRowDef="displayedColumnsPrincipal"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPrincipal;"
          (click)="selectionPadre.toggle(row)">
      </tr>
    </table>
  </div>

    <mat-toolbar style="background-color: #FCE6F4;" *ngIf="dataSourcePadre.data.length >= 1">
    <div style="background-color: white; margin:-14px; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; border-top-left-radius: 8px; border-top-right-radius: 8px;">
      <span style="color: #EA1693;" >
        <mat-icon style="margin-top: 2px; font-size: 30px; text-align: center;">
          compare_arrows
        </mat-icon>
      </span>
      
      <span style="color: #EA1693; margin-left: 8px;" > Fusionados</span>
      
    </div>
    <span class="spacer"></span>

    </mat-toolbar>
    <div class="primeratabla"  *ngIf="dataSourcePadre.data.length >= 1" style="margin-top: -6px;">
      <table mat-table [dataSource]="dataSourcePadre" >

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRowsPadre() : null"
                          [checked]="selectionPadre.hasValue() && isAllSelectedPadre()"
                          [indeterminate]="selectionPadre.hasValue() && !isAllSelectedPadre()"
                          [aria-label]="checkboxLabelPadre()"
                          >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectionPadre.toggle(row) : null"
                          [checked]="selectionPadre.isSelected(row)"
                          [aria-label]="checkboxLabelPadre(row)"
                          color="accent">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="tramite">
          <th mat-header-cell *matHeaderCellDef  > Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.nro_tramite}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="copias">
          <th mat-header-cell *matHeaderCellDef  > Copias </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.nro_copia}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="asunto">
          <th mat-header-cell *matHeaderCellDef  > Asunto </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.asunto}} </td>
        </ng-container>

        <!-- Symbol Column -->

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef  > Tipo de Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.tipo_tramite}} </td>
        </ng-container>

        <ng-container matColumnDef="procedencia">
          <th mat-header-cell *matHeaderCellDef  > Procedencia </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.procedencia}} </td>
        </ng-container>

        <ng-container matColumnDef="envio">
          <th mat-header-cell *matHeaderCellDef  > F. envio </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.fecha_envio}} </td>
        </ng-container>

        <ng-container matColumnDef="remitente">
          <th mat-header-cell *matHeaderCellDef  > Remitente </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.tomado_por}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef  > Prioridad </th>
          <td mat-cell *matCellDef="let element">
            <div class="colors  {{element.prioridad}}">
              {{element.prioridad}}
          
            </div>
           </td>

        </ng-container>

        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPadre"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPadre;"
            (click)="selectionPadre.toggle(row)">
        </tr>
      </table>




    </div>
</div>
    <div class="accionescentro">
        <mat-toolbar style="background-color: white;">

            <span  >Tramites</span>
            <span class="spacer"></span>

        </mat-toolbar>

    </div>

    <div class="segundatabla">

      <table mat-table [dataSource]="dataSourceHijo">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRowsHijo() : null"
                          [checked]="selectionHijo.hasValue() && isAllSelectedHijo()"
                          [indeterminate]="selectionHijo.hasValue() && !isAllSelectedHijo()"
                          [aria-label]="checkboxLabelHijo()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectionHijo.toggle(row) : null"
                          [checked]="selectionHijo.isSelected(row)"
                          [aria-label]="checkboxLabelHijo(row)"
                          [ngClass]="{'colorcheck': selectionHijo.isSelected(row)}">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="tramite">
          <th mat-header-cell *matHeaderCellDef  > Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.nro_tramite}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="copias">
          <th mat-header-cell *matHeaderCellDef  > Copias </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.nro_copia}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="asunto">
          <th mat-header-cell *matHeaderCellDef  > Asunto </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.asunto}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef  > Tipo de Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.tipo_tramite}} </td>
        </ng-container>

        <ng-container matColumnDef="procedencia">
          <th mat-header-cell *matHeaderCellDef  > Procedencia </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.procedencia}} </td>
        </ng-container>

        <ng-container matColumnDef="envio">
          <th mat-header-cell *matHeaderCellDef  > F. envio </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.fecha_envio}} </td>
        </ng-container>

        <ng-container matColumnDef="remitente">
          <th mat-header-cell *matHeaderCellDef  > Remitente </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.tomado_por}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef  > Prioridad </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="colors  {{element.prioridad}}">
              {{element.prioridad}}
            </div>  
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsHijo"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHijo;"
            (click)="selectionHijo.toggle(row)">
        </tr>
      </table>


    </div>




  </div>
  <div class="botonesfinal" style="padding-bottom: 25px;
  padding-left: 33px;">
    <mat-toolbar style="background-color: white;">

        <button mat-raised-button color="primary" class="btn-primary-600" (click)="verLog()">Fusionar trámite</button>
        <button mat-raised-button class="btn-primary-600" *ngIf="dataSourcePadre.data.length > 1" (click)="moverElementos()">Desfusionar</button>
        <button mat-raised-button disabled *ngIf="dataSourcePadre.data.length <= 1">Desfusionar</button>
        

    </mat-toolbar>
  </div>


