<div class="cabecera" >
    <div class="title">
      <!-- <mat-toolbar style="background-color: white; padding-top: 25px;
      padding-left: 33px;">
  
       <span class="primary-600"><h5>Fusionar trámite</h5></span>
       <span class="spacer"></span>
  
       <button mat-icon-button class="example-icon primarycolor" mat-dialog-close aria-label="Example icon-button with share icon">
        <mat-icon >close</mat-icon>
      </button>
     </mat-toolbar> -->

     <mat-toolbar  style="background-color: white; padding-top: 25px;
     padding-left: 33px;">
  <span class="primary-600 "><h5>Fusionar trámite</h5></span>
  <span class="example-spacer"></span>
 
  <button mat-icon-button class="primary-600" mat-dialog-close aria-label="Example icon-button with share icon">
    <mat-icon >close</mat-icon>
  </button>
</mat-toolbar>
  
  </div>
  
  <div class="contenido" style="background-color: #FCE6F4;">
    <mat-toolbar style="background-color: #FCE6F4;">
  
      <span class="secondary-600"><h5>Nodo padre</h5></span>
        <span class="spacer"></span>

      </mat-toolbar>
    <div class="primeratabla">
      <table mat-table [dataSource]="dataSourcePadre" style="background-color: #FCE6F4; ">
  
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRowsPadre() : null"
                          [checked]="selectionPadre.hasValue() && isAllSelectedPadre()"
                          [indeterminate]="selectionPadre.hasValue() && !isAllSelectedPadre()"
                          [aria-label]="checkboxLabelPadre()"
                          color=#D189E8>
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectionPadre.toggle(row) : null"
                          [checked]="selectionPadre.isSelected(row)"
                          [aria-label]="checkboxLabelPadre(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <!-- Position Column -->
        <ng-container matColumnDef="tramite">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.tramite}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="copias">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Copias </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.copias}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="asunto">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Asunto </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.asunto}} </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Tipo de Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionPadre.isSelected(element)}"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="procedencia">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Procedencia </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.procedencia}}</td>
        </ng-container>

        <ng-container matColumnDef="fecha_envio">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> F. envío </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.fecha_envio}} </td>
        </ng-container>

        <ng-container matColumnDef="ingresado">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Remitente </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.tomado_por}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Prioridad </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> <div class="colors {{element.prioridad}}">
            {{element.prioridad}}</div></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPadre"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPadre;"
            (click)="selectionPadre.toggle(row)">
        </tr>
      </table>
  </div>
  
    <div class="accionescentro">
        <mat-toolbar style="background-color: white;">
  
          <span class="primary-600"><h5>Nodo hijo</h5></span>
            <span class="spacer"></span>
        </mat-toolbar>
  
    </div>
  
    <div class="segundatabla">
  
      <table mat-table [dataSource]="dataSourceHijo">
  
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRowsHijo() : null"
                          [checked]="selectionHijo.hasValue() && isAllSelectedHijo()"
                          [indeterminate]="selectionHijo.hasValue() && !isAllSelectedHijo()"
                          [aria-label]="checkboxLabelHijo()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectionHijo.toggle(row) : null"
                          [checked]="selectionHijo.isSelected(row)"
                          [aria-label]="checkboxLabelHijo(row)"
                          [ngClass]="{'colorcheck': selectionHijo.isSelected(row)}">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <!-- Position Column -->
        <ng-container matColumnDef="tramite">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.tramite}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="copias">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Copias </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.copias}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="asunto">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Asunto </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.asunto}} </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Tipo de Trámite </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="procedencia">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Procedencia </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.procedencia}}</td>
        </ng-container>

        <ng-container matColumnDef="fecha_envio">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> F. envío </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.fecha_envio}} </td>
        </ng-container>

        <ng-container matColumnDef="ingresado">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Remitente </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> {{element.tomado_por}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef class="primarycolor"> Prioridad </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'colorcheck': selectionHijo.isSelected(element)}"> <div class="colors {{element.prioridad}}">
            {{element.prioridad}}</div></td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsHijo"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHijo;"
            (click)="selectionHijo.toggle(row)">
        </tr>
      </table>
  
  
    </div>
  </div>
  <div class="botonesfinal" style="padding: 16px; background-color: #def3f4;">
    <mat-toolbar style="background-color: #def3f4;">
        <button mat-raised-button color="primary" class="fusionar btn-primary-600 " (click)="verLog()">Fusionar trámite</button>
        <button mat-raised-button class="desfu btn-primary-600 " *ngIf="dataSourcePadre.data.length > 1" (click)="moverElementos()">Desfusionar</button>
        <button mat-raised-button disabled *ngIf="dataSourcePadre.data.length <= 1">Desfusionar</button>
      </mat-toolbar>
  </div>
  
  
  