
th{
  width: 20%;
}
.pointer{
  cursor:pointer;
}
.paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mat-paginator {
  flex: 1;
  margin-right: 16px;
}

.Alta{
  background-color: #FFD0DB;
  color: #FF3364;
}

.Baja{
  background-color: #A1F0C1;
  color: #1B703D;
}

.Media{
  background-color: #FFE793;
  color: #D18718;
}

.colors{
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}

.tramite{

  position: absolute;
  //width: 780px;
  height: 75px;
  left: 1200px;
  padding: 5px;
  width: 366.14px;

  /* placeholder */

  background: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  //width: 480px;
}
.label{
  //font-weight: bold;
  color: #757fef;
  width: 500px;

}

.search-hero {
  width: 900px;
  height: 45px;
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;

}

.example-input {
  position: absolute;
  max-width: 100%;
  height: 50px;
  width: 450px;
  border: 1px solid #E5E6ED;
  border-radius: 20px;
  text-align-last: auto;
  text-indent: 15px;
  font-size: 15px;
  margin-inline-start: 1000px;
  background-color: #DEF3F4 !important;
  margin-block-start: 10px;
  
}

.example-input::placeholder {
   color: black;
}

.iconomat{
  color: #17bebb; transform: translateY(100%) translateX(5900%);
  position: absolute;
}

select {
  background: none;
  border: none;
  padding: 0;
  width: auto; /* o el ancho deseado */
  direction: rtl;
  color:#009688;
  font-weight: bold;
  position: absolute;
  left: 90%;
  top: 5%;
  font-size: 16px;
}
