<h2 mat-dialog-title style= "color: #00938b;"> Retractar trámite </h2>
<mat-dialog-content>
  ¿Está seguro de retractar el Tramite Nro:"{{nrotramite}}" - {{nrocopia}} | Asunto: {{asunto}}?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" class="btn-primary-600">  Retractar  </button>
  <button mat-button mat-dialog-close class="btn-primary-600"> Cancelar </button>
</mat-dialog-actions>
