:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px;
    width: 1233px;
    justify-content: space-between;
}

.inputAncho {
    width: 1158px;

    margin-bottom: -12px;
}

.inputAncho1 {
    width: 100%;
    //margin: 5px;
    height: 200px;
}

.cardAncho {
    max-width: 500px;
    margin: 5px;
    height: 100%;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    width: 250px;
}

.example-section {
    align-content: center;
    align-items: center;
    height: 60px;
}

.dos {
    display: flex;
    width: 100;

}

.b1 {
    height: 43px;
    //background-color: #6e49ab;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Lexend', sans-serif;
    
}

.b2 {
    height: 43px;
    background-color: #17bebb;
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Lexend', sans-serif;
}

.b3 {
    height: 43px;
    float: right;
    background-color: #17bebb;
    margin-inline-start: 24px;
    color: #FFFFFF !important;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.b4 {
    height: 43px;
    //background-color: #757fef;
    background-color: #17bebb;
    margin-inline-start: 24px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Lexend', sans-serif;
    color: white;
}

.b6 {
    height: 43px;
    background-color: #17bebb;
    margin-inline-start: 24px;
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Lexend', sans-serif;
}


.dias {
    margin: 5px;
    //background-color: #757fef;
    background-color: #17bebb;
    margin-top: 1.5%;
    height: 46px;
    width: 88px;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Lexend', sans-serif;
}

.margen {
    margin-top: 5px;
    width: 500px;
    display: flex;

}

.margen1 {
    margin-top: 5px;
    width: 250px;
    display: flex;
}

.principal {
    display: flex;
    flex-direction: row;
}

.superior {
    display: flex;
    flex-direction: row;
}

.derecha {
    width: 635px;
    margin-left: 25px;
}

.izquierda {
    width: 500px;
}

.aten {
    margin-left: 1%;
    width: 250px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}