

<div class="login-container d-flex w-full h-full">


  <div class="main-login">
    <div class="logo-gamlp">
      <img src="./assets/images/logo_gamlp2022-145x56.png">

    </div>
    <div class="d-flex w-full h-full">
      <!-- <mat-card class="m-auto card-login"  style="max-width: 380px;" > -->
        <div class="m-auto" style="max-width: 380px;">
        <mat-card-header style="text-align: center;" class="m-b-24 card-header-login">
          <!-- <mat-card-title>{{'login_title' | translate}}!</mat-card-title> -->
          <mat-card-title>
            <div class="text-h3-font-titulo">ECOTRAM</div>
            <div class="text-font-inicio-session">Iniciar sesión</div>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form class="form-field-full" [formGroup]="loginForm">
            <mat-form-field  appearance="outline">
              <!-- <mat-label> <mat-icon>person</mat-icon> {{'username' | translate}}: ng-matero</mat-label> -->
              <mat-label> <mat-icon>person</mat-icon> Ingresar usuario</mat-label>
              <input matInput placeholder="ng-matero" formControlName="username" required>
              <mat-error *ngIf="username.invalid">
                <!-- <span *ngIf="username.errors?.required">{{'please_enter' | translate}}
                  <strong>ng-matero</strong>
                </span> -->
                <span *ngIf="username.errors?.required">Por favor Ingrese su Usuario
                </span>
                <span *ngIf="username.errors?.remote">{{ username.errors?.remote }}</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <!-- <mat-label><mat-icon>person</mat-icon> {{'password' | translate}}: ng-matero</mat-label> -->
              <mat-label><mat-icon>person</mat-icon> Ingrese contraseña</mat-label>
              <input matInput placeholder="ng-matero" type="password"
                     formControlName="password" required>
              <mat-error *ngIf="password.invalid">
                <!-- <span *ngIf="password.errors?.required">{{'please_enter' | translate}}
                  <strong>ng-matero</strong>
                </span> -->
                <span *ngIf="password.errors?.required">Por favor Ingrese su Contraseña
                </span>
                <span *ngIf="password.errors?.remote">{{ password.errors?.remote }}</span>
              </mat-error>
            </mat-form-field>

            <!-- <mat-checkbox formControlName="rememberMe">{{'remember_me' | translate}}
            </mat-checkbox> -->

            <!-- <button class="w-full m-y-16" mat-raised-button color="primary"
                    [disabled]="!!loginForm.invalid" [loading]="isSubmitting"
                    (click)="login()">{{'login' | translate}}</button> -->
            <button class="m-y-16" mat-raised-button class="btn-primary-600" 
                    [disabled]="!!loginForm.invalid" [loading]="isSubmitting"
                    (click)="login()">Ingresar</button>


            <!-- <div>{{'have_no_account' | translate}}?
              <a routerLink="/auth/register">{{'create_one_account' | translate}}</a>
            </div> -->
          </form>
        </mat-card-content>
      <!-- </mat-card> -->
      </div>
    </div>
  </div>
  <div class="rigth-inf">
    <div class="text-font-item-1">
      Modernización y transformación
    </div>
    <div class="text-font-item-2">
      La modernización y transformación de la gestión, eco amigable con reducción de costos y uso de la papelería impresa, al servicio de usuarios internos y usuarios externos en una plataforma única de ingreso de trámites, implementando el uso de la firma digital.
    </div>
  </div>
</div>

