
.login-container{
  background-color: rgb(241, 241, 241);
}
 
.main-login{
   width: 66%;
}

.card-header-login{
   display: flex;
   justify-content: center;
}
 

.card-login{
   background-color: rgb(241, 241, 241);
}
 

.logo-gamlp{
   display: flex;
   position: absolute;
   width: 185px;
   height: 70.53px;
   left: 25px;
   top: 24px;
   border-radius: 10px;
   background-color: white;
   align-items: center;
   justify-content: center;
}