.superior{
  height: 80%;
  background-color: red;
}

.inferior{
  display: flex;
  flex-direction: row;
  height: 20%;
  background-color: #E7E8FF;
  padding: 10px 10px 10px 10px;
}

.colors{
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}

.primarycolor{
  color:#6E49AB;
}

.spacer {
  flex: 1 1 auto;
}

.urgente{
  background-color: #FFD0DB;
  color: #FF3364;
}

.baja{
  background-color: #A1F0C1;
  color: #1B703D;
}

.media{
  background-color: #FFE793;
  color: #D18718;
}


///asdasd

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


