<div class="superior">
  <div class="title" style="padding-top: 24px; background-color: white;">
    <mat-toolbar style="padding: 24px 24px 24px 24px; background-color: white">

     <span class="primarycolor">Historial</span>
     <span class="spacer"></span>

     <button mat-icon-button class="example-icon primarycolor" mat-dialog-close aria-label="Example icon-button with share icon">
      <mat-icon >close</mat-icon>
    </button>
   </mat-toolbar>

  </div>
  <div class="table">

    <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
        matSort style="padding: 0px 24px 24px 24px">



      <ng-container matColumnDef="dateSend" >
        <th mat-header-cell *matHeaderCellDef> F. envio </th>
        <td mat-cell *matCellDef="let element" > {{ formatDate(element.dateSend, false)}}<br>
        {{ formatDate(element.dateSend, true)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="sendBy">
        <th mat-header-cell *matHeaderCellDef> Enviado por </th>
        <td mat-cell *matCellDef="let element"> {{element.sendBy}} </td>
      </ng-container>

      <ng-container matColumnDef="Node">
        <th mat-header-cell *matHeaderCellDef> Nodo </th>
        <td mat-cell *matCellDef="let element"> {{element.Node}} </td>
      </ng-container>

      <ng-container matColumnDef="dateRecep">
        <th mat-header-cell *matHeaderCellDef> F. recepción </th>
        <td mat-cell *matCellDef="let element" > {{ formatDate(element.dateRecep, false)}}<br>
          {{ formatDate(element.dateRecep, true)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="recepBy">
        <th mat-header-cell *matHeaderCellDef> Recibido por </th>
        <td mat-cell *matCellDef="let element"> {{element.recepBy}} </td>
      </ng-container>
      <ng-container matColumnDef="fojas">
        <th mat-header-cell *matHeaderCellDef> Fojas </th>
        <td mat-cell *matCellDef="let element"> {{element.fojas}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Prioridad </th>
        <td mat-cell *matCellDef="let element">
          <div class="colors {{element.priority}}">
            {{element.priority}}

          </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element" style="color: #757FEF;">add_circle_outlined</mat-icon>
            <mat-icon *ngIf="expandedElement === element" style="color: #757FEF;">add_circle_outlined</mat-icon>
          </button>
        </td>
      </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="exp1">
          Proveído:
          <br>
          Fecha de envío:
          <br>
          Detalles de actuación:
        </div>
        <span class="spacer"></span>
        <div class="exp2">
          Adjuntos:
          <br>
          imprimir
        </div>
        <span class="spacer"></span><span class="spacer"></span>
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon style="color:#FF3364;">close</mat-icon>
        </button>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

  </div>

</div>

<div class="inferior">
  <mat-toolbar class="inferior" style="background-color: #E7E8FF;">
    <h1 class="primarycolor" style="font-weight: bold;"> Trámite: Nº {{tramite_tp.nro}} </h1>
    <span class="spacer"></span>
    <div style="display:flex; flex-direction: column;">
      <span class="primarycolor" style="font-size: 15px;padding-bottom: 15px;">Tipo de tramite: {{tramite_tp.tipo}}</span>
      <span class="primarycolor" style="font-size: 15px;">Asunto: {{tramite_tp.asunto}}</span>
    </div>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <button mat-raised-button style="background-color: #6E49AB ; color:white;">Imprimir Historial</button>
  </mat-toolbar>


</div>

